# Загальні бібліотеки
colorama==0.4.6
prettytable==3.7.0

# Робота з файлами та парсинг даних
pandas==1.5.3
openpyxl==3.1.2
xlrd==2.0.1

# Візуалізація даних
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.15.0

# Логування
loguru==0.7.0

# ASCII-арт
art==5.8
pyfiglet==0.8.post1

# Статичний аналіз
pylint==2.17.5
flake8==6.1.0

# Документація
pydocstyle==6.3.0
